body {
    padding: 20px;
    text-align: center;
}

.container {
    display: grid;
    gap: 1rem;
    grid-template-areas: 'navbar navbar navbar navbar' 'section section aside aside' 'footer footer footer footer';
}

.item {
    background-color: aquamarine;
    border: 5px solid red;
    font-size: 50px;
}

#navbar {
    grid-area: navbar;
}

#section {
    grid-area: section;
}

#aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width:500px) {
    body {
        background-color: darkorange;
    }
    .container {
        grid-template-areas: 'navbar navbar navbar navbar' 'section section section section' 'aside aside aside aside' 'footer footer footer footer';
    }
}

@media only screen and (min-width: 500px) and (max-width:800px) {
    body {
        background-color: blue;
    }
    .container {
        grid-template-areas: 'navbar navbar navbar navbar' 'section aside aside aside' 'footer footer footer footer';
    }
}

@media (min-width: 800px) and (max-width:1000px) {
    body {
        background-color: yellow;
    }
    .container {
        grid-template-areas: 'navbar navbar navbar navbar' 'section section aside aside' 'footer footer footer footer';
    }
}

@media (min-width: 1000px) {
    body {
        background-color: green;
    }
    .container {
        grid-template-areas: 'navbar navbar navbar navbar' 'section section section aside' 'footer footer footer footer';
    }
}
